{% extends "__layout.twig" %}
{% from "/macros/btn.twig" import btn as btn %}


{% block content %}


    <div style="margin-left: 305px;">
            <ul class="nav nav-pills" style="margin-top: 25px;">
                
                <li class="nav-item d-flex flex-row">
                    <a class = "btn btn-link" href="/memes_objects/{{id}}/image">Картинка</a>
                    <a class = "btn btn-link" href="/memes_objects/{{id}}/info">Описание</a>
                </li>
            </ul>
        
    </div>

    {% block objectContent %} 
    {% endblock %}
{% endblock %}