{% extends "__layout.twig" %}
{% from "/macros/btn.twig" import btn as btn %}


{% block content %}


    <div style="margin-left: 305px;">
            <ul class="nav nav-pills" style="margin-top: 25px;">
                
                <li class="nav-item d-flex flex-row">
                    {{ btn("Картинка", "/memes_objects/"~id~"/image", is_image) }}
                     {{ btn("Описание", "/memes_objects/"~id~"/info", is_info) }}
                </li>
            </ul>
        
    </div>

    {% block objectContent %} 
    {% endblock %}
{% endblock %}