{% extends "__object.twig" %}

{% block objectContent %}
<ul class="nav nav-pills" style="margin-top: 20px; margin-left:305px">
    <li class="nav-item d-flex flex-row">
        <img src={{ image }} style=" border: 1px solid black; padding: 4px; " class="nav-link">
    </li>
</ul>
{% endblock %}