{% extends "__object.twig" %}
{% block objectContent %}
    <div style="border: 1px solid black; padding: 4px; margin-top: 5px; width: 500px; margin-left:305px;">
        Оригинальное фото кошки с неправильным прикусом по кличке Соус Тардар собрало миллион просмотров на Imgur за первые два дня. С тех пор мем распространился повсеместно, а хозяйка кошки неплохо зарабатывает на рекламных кампаниях с участием своей любимицы. 
    </div>        
{% endblock %}