{% extends "__object.twig" %}
{% block objectContent %}
    <div style="border: 1px solid black; padding: 4px; margin-top: 5px; width: 500px; margin-left:305px;">
        Фото 11-месячного Сэмми Гринера, который ест песок так, как-будто только что выиграл в лотерею, впервые появилось на Flickr в 2007 году и очень быстро стало символом успеха. Слава Сэмми помогла его семье собрать более $100 000 на трансплантацию почки для его отца Джастина.
    </div>
{% endblock %}